<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

	<script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
	<div>
		<ul>
			<li><a href="/auth/google" class="googleplus"><i class="fa fa-google-plus"></i></a></li>
		</ul>
	</div>

</body>
</html>