<!DOCTYPE html>
<html>
<head>
	<title>users</title>
	<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

	<script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
	<div>
		<%=user.displayName%>
	</div>
	<div>
		<ul class="social list-inline">
			<li><a href="/auth/google" class="<%if(user.google){%>googleplus<%}%>"><i class="fa fa-google-plus"></i></a></li>
			<li><a href="/auth/twitter" class="<%if(user.twitter){%>twitter<%}%>"><i class="fa fa-twitter"></i></a></li>
			<li><a href="/auth/facebook" class="<%if(user.facebook){%>facebook<%}%>"><i class="fa fa-facebook"></i></a></li>
		</ul>
	</div>
</body>
</html>