<!DOCTYPE html>
<html>
<head>
	<title>users</title>
	<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dis/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

	<script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
	<div>
		<img src="<%=user.image%>">
		<%=user.name%>
	</div>
</body>
</html>